# Web (PHP)
web/vendor/
web/json_files/serviceAccountKey.json

# App (Ionic/Angular)
app/node_modules/
app/www/
app/.angular/
app/platforms/
app/dist/
app/.ionic/
app/coverage/
app/.sourcemaps/
app/.versions/
app/tmp/
app/out-tsc/

# Environment files
.env
*.env.*
!.env.example

# Logs
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Composer
composer.phar
